services:
  postgres:
    image: postgres:15
    restart: always
    container_name: postgres
    env_file:
      - ./apps/api/.env.production
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
    container_name: api
    restart: always
    env_file:
      - ./apps/api/.env.production
    depends_on:
      - postgres
    ports:
      - "3001:3001"

  web:
    build:
      context: .
      dockerfile: ./apps/frontend/Dockerfile
    container_name: web
    restart: always
    env_file:
      - ./apps/frontend/.env.production
    depends_on:
      - api
    ports:
      - "5173:5173"

volumes:
  postgres_data:
