services:
  postgres:
    image: postgres:15
    restart: always
    container_name: postgres
    env_file:
      - .env.production
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
